*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

@import "./config";

@import "./navbar";

@import "./alertmask";

body{
    background: #fafafa;
    height: 100vh;
    
}
.container{
    max-width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}


// TRACK LINE
@import "./track_number";

.table{
   display: grid;
    height: 60vh;
    width: 80%;
    box-shadow: 3px 8px 9px $primaryColor;
    border-radius:5px;
    position: relative;
    transition:2s ease-in-out;
}
@media only screen and (max-width: 768px){
    .table{
        width:100%;
    }
}
// ANSWERS
@import "./answers";


.question{
    height: 100%;
    width: 100%;
    display:grid; 
    border-radius:5px;
    align-items: center;
    text-align: center;
    justify-items: center;
    .text-pitanja{
    color:$primaryColor;
    font-size: 1.5rem;
    font-weight: bolder;
}
}
// media query
@media only screen and (max-width: 768px){

   .question{
       border-top: 3px solid $primaryColor;
   }
}

// buttons
@import "./button.scss";

%ans{
    border-top:1px solid $secondaryColor;
    position:absolute;
    left:5%;
    visibility:hidden;
}

#ans1{
top: 0%;
@extend %ans;
}
#ans2{
top: 25%;
@extend %ans;
}
#ans3{
top: 50%;
@extend %ans;
}
#ans4{
    top: 75%;
   @extend %ans;
}
